@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins:wght@700&display=swap");

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0fbf8;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.8;
}

@media (min-width: 1024px) {
  p {
    font-size: 1.17rem;
  }

  a {
    font-size: 1.17rem;
  }

  .tabs__image {
    height: 500px;
  }
}
